build/
build_release/
release/
*.o
*.h5
*.hdf5
*.csv
*.pdf
*.kml
src/*.adoc
test/*.adoc
scripts/*.adoc
*.png
*.gif
*.enc
*/__pycache__
**/__pycache__/
results/
figures/
*.deb
*.adoc
*.local.md
!WarpTwin_Users_Manual.pdf